#resultado {
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

tabela {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

media {
    font-weight: bold;
    background-color: #e6e6e6;
}