* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.escala {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.escala label {
    cursor: pointer;
}

.escala input {
    display: none;
}

.escala span {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    background: white;
    display: block;
    font-weight: bold;
}

.escala input:checked+span {
    background: #27ae60;
    color: white;
    border-color: #27ae60;
}

.proxima,
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.proxima:hover,
button[type="submit"]:hover {
    background: #2980b9;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}

.botao-principal {
    display: block;
    width: 100%;
    padding: 14px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.2s;
}

.msg-final{
    justify-content: center;
    display: flex;
}

.botao-principal:hover {
    background: #219653;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
    font-size: 14px;
}

.tablet-linha {
    background: #f9f9f9;
    padding: 14px;
    margin: 10px 0;
}

.tablet-link {
    font-family: monospace;
    background: #333;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 15px;
    display: inline-block;
    margin: 8px 0;
}

.tablet-btn {
    background: #27ae60;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}