.fieldset{
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#btnEnviar{
    width: 400px;
    height: 400px;
    margin-top: 2%;
    border-radius: 200px;
    background-color: blue;
    font-style: bold;
    font-size: 92px;
}